#page-title{
    color: darkgray;
    font-size: 40px;
    font-style: italic;
    font-family: "Comic Sans MS" ;

}

.section-header{
    font-family: "Comic Sans MS";
    color: black;
    font-style: oblique;
}

.favorite-section{
    border: 2px black solid;
    padding: 20px;
    margin: 25px;


}

body{
    background-color: floralwhite;
    font-family: "Times New Roman";
}

.img-desc{
    padding: 5px;
}

#favorite-movie-title{
    font-family: "Arial Black";
    font-size: 16px;
}

#favorite-music-name {
    font-family: "Arial Black";
    font-size: 16px;
}

#most-favorite-food{
    font-style: oblique;

}

#fave-img{
    border-radius: 30%;
}

table{
    border-collapse: collapse;
}

table,th,td{
    border: black 1px solid;
    text-align: left;
    padding: 5px;
}

th{
    background-color: antiquewhite;
    color: black;
}

td{
    background-color: white;
    color: black;
}